<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Bored-Borrow</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
	
	<style>
		h1 {
			display: inline;
		}
		.right {
			float: right;
			font-weight: bold;
		}
		body {
			margin-top: 20px;
		}
		table {
			margin-top: 20px;
		}
		.reserved {
			width: 65px;
			text-align: center;
		}
		.gap {
			margin: 5px 3px;
		}
	
	</style>
</head>
<body>
	<div class="container">
		
		<h1>Games</h1>
		
		<h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>
		<div class="col-md-4" style="padding:20px 0">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-danger gap"/>
			</form>
		</div>
		<a sec:authorize="hasAuthority('ADMIN')" class="btn btn-secondary right gap" th:href="@{/settings}">Admin Settings &nbsp; &#9874;</a>
		<a sec:authorize="hasAuthority('ADMIN')" class="btn btn-success right gap" th:href="@{/add}">Add game &nbsp; &#x271A;</a>
		<a sec:authorize="hasAuthority('ADMIN')" class="btn btn-primary right gap" th:href="@{/borrowlist/admin}">Borrow list &nbsp; &#x1F47E;</a>
		<a sec:authorize="hasAuthority('USER')" class="btn btn-success right gap" th:href="@{/loans/{username}(username=${#httpServletRequest.remoteUser})}">My Game Loans &nbsp; &#x1F47E;</a>
		<a sec:authorize="hasAuthority('USER')" class="btn btn-info right gap" th:href="@{/reservations/{username}(username=${#httpServletRequest.remoteUser})}">My Reservations &nbsp; &#x23F2;</a>
		
		
		<table class="table table-striped">
			<thead>
			    <tr>
			    	<th scope="col">Cover</th> <!-- Image header (blank) -->
				    <th scope="col">Name</th>
				    <th scope="col">Genre</th>
				    <th scope="col">Language</th>
				    <th scope="col">Min Players</th>
				    <th scope="col">Max Players</th>
				    <th scope="col">Platform</th>
				    <th scope="col" sec:authorize="hasAuthority('ADMIN')"></th> <!-- Edit column header -->
				    <th scope="col" sec:authorize="hasAuthority('ADMIN')"></th> <!-- Delete column header -->
				    <th scope="col" sec:authorize="hasAuthority('USER')"></th> <!-- Reserve column header -->
			    </tr>
			</thead>
				<tbody>
					<tr th:each="game: ${games}">
						<td align="center"><img th:src="${game.img}" height="140" /></td>
						<td th:text="${game.name}"></td>						
						<td th:text="${game.genre.name}"></td>
						<td th:text="${game.language.name}"></td>
						<td th:text="${game.minPlayers}"></td>
						<td th:text="${game.maxPlayers}"></td>
						<td th:text="${game.type.name}"></td>
						<td sec:authorize="hasAuthority('ADMIN')"> <a class="btn btn-sm btn-info" th:href="@{/edit/{id}(id=${game.id})}">Edit</a> </td>
						<td sec:authorize="hasAuthority('ADMIN')"> <a class="btn btn-sm btn-danger" th:href="@{/delete/{id}(id=${game.id})}">Delete</a></td>
						<td sec:authorize="hasAuthority('USER')">
							<a class="btn btn-sm btn-info" th:if="(${game.reservedBy} == null and ${game.borrowedBy} == null) or (${game.reservedBy} == null and ${game.borrowedBy} != null and ${game.borrowedBy.username} != ${#httpServletRequest.remoteUser})" th:href="@{/reserve/{id}/{username}(id=${game.id}, username=${#httpServletRequest.remoteUser})}">Reserve</a>
							
							<div class="alert alert-secondary reserved" th:if="(${game.reservedBy} != null and ${game.borrowedBy} == null) or (${game.reservedBy} != null and ${game.borrowedBy} != null and ${game.borrowedBy.username} != ${#httpServletRequest.remoteUser}) or (${game.borrowedBy} != null and ${game.reservedBy} != null and ${game.reservedBy.username} != ${#httpServletRequest.remoteUser})" title="This game has already been reserved">&#x29D6;</div>
							
						</td>
<!-- 						<td> -->
<!-- 							<div class="alert alert-warning reserved" title="someone has already reserved this" th:if="${game.reservedBy == '3'}">&#x29D6;</div> -->
<!-- 							<div class="alert alert-success reserved" title="you have reserved this" th:if="${game.reservedBy == '1'}">&#x29D6;</div> -->
<!-- 							<th:block th:switch="${game.reservedBy.username}"> -->
<!-- 							<div th:case="null" class="alert alert-primary">you can reserve me</div> -->
<!-- 							<div th:case="${#httpServletRequest.remoteUser}" class="alert alert-success">you have reserved me</div> -->
<!-- 							<div th:case="!= ${#httpServletRequest.remoteUser}" class="alert alert-warning">someone else has reserved me</div> -->
<!-- 							</th:block> -->
<!-- 						</td> -->
<!-- 						<td sec:authorize="hasAuthority('USER')"> <a class="btn btn-sm btn-info" th:href="@{/sendbooking/{id, userid}(id=${game.id}, userid='1')}">Reserve</a></td> -->
<!-- 						<td sec:authorize="hasAuthority('USER')"> -->
<!-- 							<form th:object="${game}" th:action="@{/sendbooking}" action="#" method="post"> -->
<!-- 								<div class="form-group"> -->
<!-- 									<input type="hidden" value="${game.gameid}" class="form-control"/> Game id -->
<!-- 									<input type="hidden" value="${game.name}" class="form-control"/> Game id -->
<!-- 									<input type="hidden" value="${game.img}" class="form-control"/> Game id -->
<!-- 									<input type="hidden" value="${game.genreid}" class="form-control"/> Game id -->
<!-- 									<input type="hidden" value="${game.languageid}" class="form-control"/> Game id -->
<!-- 									<input type="hidden" value="${game.minPlayers}" class="form-control"/> Game id -->
<!-- 									<input type="hidden" value="${game.maxPlayers}" class="form-control"/> Game id -->
<!-- 									<input type="hidden" value="${game.typeid}" class="form-control"/> Game id -->
<!-- 									<input type="hidden" value="${user.username.findByName(${#httpServletRequest.remoteUser}).get(0)" class="form-control"/> -->
<!-- 									<input type="hidden" value="${null}" class="form-control"/> Game id -->
<!-- 									<button type="submit" class="btn btn-primary">Reserve</button> -->
<!-- 								</div> -->
<!-- 							</form> -->
<!-- 						</td> -->
					</tr>
				</tbody>
			</table>
			
			
		</div>
	
</body>
</html>