<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Bored-Borrow</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
	
	<style>
		h1 {
			display: inline;
		}
		.right {
			float: right;
			font-weight: bold;
		}
		body {
			margin-top: 20px;
		}
		table {
			margin-top: 20px;
		}
	
	</style>
</head>
<body>
	<div class="container">
		
		<h1>Games</h1>
		
		<h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>
		<div class="col-md-4" style="padding:20px 0">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-danger"/>
			</form>
		</div>
		<a sec:authorize="hasAuthority('ADMIN')" class="btn btn-secondary right" th:href="@{/settings}">Admin Settings &nbsp; &#9874;</a>
		<a sec:authorize="hasAuthority('ADMIN')" class="btn btn-success right" th:href="@{/add}">Add game &nbsp; &#x271A;</a>
		
		
		<table class="table table-striped">
			<thead>
			    <tr>
			    	<th scope="col">Id</th>
			    	<th scope="col">Cover</th> <!-- Image header (blank) -->
				    <th scope="col">Name</th>
				    <th scope="col">Genre</th>
				    <th scope="col">Language</th>
				    <th scope="col">Min Players</th>
				    <th scope="col">Max Players</th>
				    <th scope="col">Platform</th>
			    </tr>
			</thead>
				<tbody>
					<tr th:each="game: ${games}">
						<td th:text="${game.id}"></td>
						<td align="center"><img th:src="${game.img}" height="140" /></td>
						<td th:text="${game.name}"></td>						
						<td th:text="${game.genre.name}"></td>
						<td th:text="${game.language.name}"></td>
						<td th:text="${game.minPlayers}"></td>
						<td th:text="${game.maxPlayers}"></td>
						<td th:text="${game.type.name}"></td>
						
					</tr>
				</tbody>
			</table>
			
			<table class="table table-striped">
			<thead>
			    <tr>
			    	<th scope="col">Id</th>
			    	<th scope="col">Username</th>
				    <th scope="col">Email</th>
				    <th scope="col">Role</th>
			    </tr>
			</thead>
				<tbody>
					<tr th:each="user: ${users}">
						<td th:text="${user.id}"></td>
						<td th:text="${user.username}"></td>
						<td th:text="${user.email}"></td>
						<td th:text="${user.role}"></td>						
					</tr>
				</tbody>
			</table>
			
			
		</div>
	
</body>
</html>